<div id="loginView">
    <div class="loginForm">
        <form ng-submit="signIn()">
            <div class="input">
                <div class="input-field">
                    <input id="email" type="email" ng-model="email" class="validate">
                    <label for="email">Email</label>
                </div>
                <div class="input-field">
                    <input id="password" type="password" ng-model="password" class="validate">
                    <label for="password">Password</label>
                </div>
                <div class="input-field staySigned">
                    <input type="checkbox" id="staysigned" ng-model="remainSignedIn"/>
                    <label for="staysigned">Stay Signed In</label>
                </div>
            </div>
            <div class="controls">
                <div class="input-field" style="order:1">
                    <button class="btn waves-effect waves-light" ng-click="signIn()" ng-disabled="signInPending">Sign in<i class="material-icons right">send</i></button>
                </div>
                <div class="input-field" style="order:0">
                    <button class="btn waves-effect waves-light" ng-click="signUp()">Sign up<i class="material-icons right">account_circle</i></button>
                </div>
            </div>
            <!--TODO: Fix this hideous layout-->
        </form>
    </div>
</div>
